@import url("https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css");

h1, p {
  font-family: Lato;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0;}
#root{ height: 100% }

.leaflet-container {
  height: 100%;
  width: 100%;
}

